.gameboard {
    margin: 32px auto;
    position: relative;
    background-color: greenyellow;
}
.gamenode-frame {
    position: absolute;
    background-color: #007bff;
}
.gamenode {
    width: 100%;
    height: 100%;
    background-color: white;
}
.gamenode.PATH {
    background-color: orange;
}
.gamenode.BUILDZONE {
    background-color: #8d70ff;
}
.gamenode.WAYPOINT {
    background-color: lightblue;
}
.gamenode.START {
    background-color: lightgreen;
}
.gamenode.END {
    background-color: red;
}
.gamenode:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

* {
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin: 20px 0 20px 0;
    text-align: center;
    font-weight: 100;
}

.sidebar {
    background-color: #ececec;
    position: absolute;
    top: 0;
    width: 350px;
    height: 100%;
}
.sidebar.left {
    left: 0;
    border-right: solid 1px rgba(1,1,1,0.1);
}
.sidebar.right {
    right: 0;
    border-left: solid 1px rgba(1,1,1,0.1);
}
.sidebar .tools {
    position: relative;
}
.sidebar .tools .tool {
    height: 35px;
    width: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding-left: 60px;
}
.sidebar .tools .tool:hover {
    background-color: #dedede;
}
.sidebar .tools .tool.selected {
    background-color: #e4e4e4;
    font-weight: 600;
}

.tool-icon {
    position: absolute;
    left: 17px;
    top: 3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.option div {
    width: 75px;
    display: flex;
    justify-content: space-between;
}


