<ng-template [ngIf]="session.board">
    <gameboard [board]="session.board" (onNodeClicked)="handleNodeClicked($event)" (onNodeHover)="handleNodeHover($event)"></gameboard>
</ng-template>

<div class="sidebar left">
        <h3>Tools</h3>
        <div class="tools" *ngFor="let tool of session.toolbox.tools">
            <div class="tool-icon" [ngStyle]="{'background-color': tool.color}"></div>
            <div class="tool" (click)="session.toolbox.setActiveTool(tool)" [ngClass]="{'selected': session.toolbox.activeTool?.nodeType == tool.nodeType}">{{tool.title}}</div>
        </div>

        <h3>Actions</h3>
        <div class="option">
            <a href="#" (click)="session.board.reset(); false;" class="btn btn-danger">Reset Board</a>
            <a href="#" (click)="session.save(); false;" class="btn btn-warning">Save Board</a>
        </div>
</div>

    <div class="sidebar right" *ngIf="selectedNode || selectedRoute">
        <a href="#" (click)="deselectNode(); false;" class="btn btn-danger">X</a>
        
            <h3>Node</h3>
            <div class="option">
                <p>ID: {{selectedNode.id}}</p>
                <p>Type: {{selectedNode.nodeType}}</p>
                <p>Position X: {{selectedNode.position.x}}</p>
                <p>Position Y: {{selectedNode.position.y}}</p>
            </div>
            <h3 *ngIf="selectedRoute">Route</h3>
            <div class="option" *ngIf="selectedRoute">
                <p>Start: {{selectedRoute.startNode?.id}}</p>
                <p>End: {{selectedRoute.endNode?.id}}</p>
                <p>Length: {{selectedRoute.nodes?.length}}</p>
                <p>Waypoints: {{selectedRoute.waypoints().length}}</p>
                <p>Valid: {{selectedRoute.valid}}</p>
            </div>
    </div>